[submodule ".registry"]
	path = .registry
	url = https://github.com/bradyajohnston/bradyajohnston.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "figpatch"]
	path = figpatch
	url = https://github.com/BradyAJohnston/figpatch
	shallow = true
	registered = true
[submodule "r3dmol"]
	path = r3dmol
	url = https://github.com/swsoyee/r3dmol
	shallow = true
	registered = true
[submodule "wellr"]
	path = wellr
	url = https://github.com/bradyajohnston/wellr
	shallow = true
	registered = true
[submodule "reluxr"]
	path = reluxr
	url = https://github.com/bradyajohnston/reluxr
	shallow = true
	registered = true
[submodule "standard"]
	path = standard
	url = https://github.com/bradyajohnston/standard
	shallow = true
	registered = true
[submodule "plasmapR"]
	path = plasmapR
	url = https://github.com/bradyajohnston/plasmapR
	shallow = true
	registered = true
[submodule "chromr"]
	path = chromr
	url = https://github.com/bradyajohnston/chromr
	shallow = true
	registered = true
